h1,
h2,
h4,
p {
  color: #2d3c49;
}

.card {
  padding: 12px;
  margin-bottom: 0.12px;
  border: 0;
}

.card > img {
  margin-bottom: 12px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.logo {
  display: block;
  height: 100px;
  width: 100px;
  margin: 3rem auto 0 auto;
  background-image: url('https://d125fmws0bore1.cloudfront.net/assets/logo/logo-mark-e55958b7fd6d392c1e343b02a9e045cb669c33cfa1bb772bba40897a0f2b482d.svg');
}

.logo, .text-header {
  margin-top: 3rem;
}

.text-header {
  text-align: center;
}

.header {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 4px solid #7d97ad;
}

.cover {
  margin-bottom: 3rem;
}

.other_flower h2.title {
  color: #7d97ad;
}

@media (min-width: 768px) {
  .text-header {
    text-align: right;
  }
  
  .logo {
    margin: 3rem 0 0 0;
  }
}
